*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
*build 
*.properties 
*.iml 
*.idea 
*.apk 
*.o 
*.lo 
*.la 
*.al 
*.a 
*.pyc 
*.pyo 
__pycache__ 
*.rej 
*~ #*# .#* 
.*.swp 
.DS_Store 
[Tt]humbs.db